<form>
  <label>example input to show not focusing
    <input type='text' id='classic-id-1'>
  </label>
  <label>example input to show focusing
    <input type='text' id='classic-id-2'>
  </label>
</form>