<form>
  <label>example input to show not focusing
    <input type='text' id='octane-good-id-1'>
  </label>
  <label>example input to show focusing
    <input type='text' id='octane-good-id-2' {{focus}}>
  </label>
</form>