<form {{did-insert this.setFocus}}>
  <label>example input to show not focusing
    <input type='text' id='octane-bad-id-1'>
  </label>
  <label>example input to show focusing
    <input type='text' id='octane-bad-id-2'>
  </label>
</form>