{{page-title 'Octane Examples'}}
<h1>
  Octane Examples
</h1>

<nav>
  <ul>
    <li><LinkTo @route="args-example"><code>args</code> example</LinkTo></li>
    <li><LinkTo @route="modifier-example">DOM & modifiers example</LinkTo></li>
  </ul>
</nav>

{{outlet}}