{{page-title 'Octane Examples'}}
<h1>
  Octane Examples
</h1>
<nav>
  <ul>
    <li>
      <LinkTo @route="args-example">
        <code>
          args
        </code>
      </LinkTo>
    </li>
  </ul>
</nav>
{{outlet}}